{
  "extends": "airbnb",
  "env": {
    "jest": true
  },
  "rules": {
    // Apprently react-native doesn't like .jsx files
    "react/jsx-filename-extension": ["error", { "extensions": [".js"] }],
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": ["error", { devDependencies: true }]
  }
}
