# iOS CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/ios-migrating-from-1-2/ for more details
#
version: 2

defaults: &defaults
  working_directory: ~/project
  docker:
    - image: circleci/node:8.9.3-stretch

jobs:
  install_dependencies:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: js-deps-{{ checksum "yarn.lock" }}
      - run: yarn
      - save_cache:
          key: js-deps-{{ checksum "yarn.lock" }}
          paths:
            - node_modules

  eslint:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: js-deps-{{ checksum "yarn.lock" }}
      - run: mkdir -p ~/reports/eslint
      - run: yarn lint --format junit --output-file ../reports/eslint/eslint.xml
      - store_test_results:
          path: ~/reports

  unit_tests:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: js-deps-{{ checksum "yarn.lock" }}
      - run: mkdir -p ~/reports/jest
      - run:
          name: Unit tests
          command: yarn test --ci --testResultsProcessor="jest-junit"
          environment:
            JEST_JUNIT_OUTPUT: "../reports/jest/js-test-results.xml"
      - store_test_results:
          path: ~/reports

workflows:
  version: 2
  main:
    jobs:
      - install_dependencies
      - eslint:
          requires:
            - install_dependencies
      - unit_tests:
          requires:
            - install_dependencies
