{
  "extends": "../.eslintrc",
  "env": {
    "jest": true
  },
  "rules": {
    "quotes": [
      "error",
      "single",
      // Required for exports in generated jest snapshots
      { "allowTemplateLiterals": true }
    ]
  }
}
